<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../../static/general/about_us_style.css" />
  </head>
  <body>
    <div class="screen">
      <div class="div">
        <p class="itcollaborate-IT">
          Добро пожаловать в ITCollaborate!<br /><br />Мы — компания, созданная с целью облегчить обмен знаниями и
          опытом между IT-специалистами. Мы стремимся создать динамичное и вдохновляющее сообщество, где профессионалы
          могут взаимодействовать, делиться знаниями и учиться друг у друга.<br /><br />В ITCollaborate мы верим в силу
          коллективного интеллекта. Мы понимаем, что каждый человек обладает уникальными навыками, опытом и идеями. Наша
          платформа предназначена для того, чтобы участники могли обмениваться знаниями, задавать вопросы, получать
          экспертные советы и находить новые возможности для профессионального роста.
        </p>
        <div class="text-wrapper">ITCollaborate</div>
        <img class="pngwing" src="../../static/img/left_corner_png.png" />
        <div class="text-wrapper-2">+375293217852</div>
        <div class="text-wrapper-3">itcollaborate@gmail.com</div>
      </div>
    </div>
  </body>
</html>
