<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../../static/general/main_page_style.css" />
  </head>
  <body>
    <div class="screen">
      <div class="div">
        <a href={{about_us_url}} class="overlap">
          <div class="text-wrapper">О нас</div>
        </a>
        <a href={{registration_url}} class="overlap-group">
          <div class="text-wrapper-2">Регистрация</div>
        </a>
        <a href={{guest_url}} class="div-wrapper"><div class="text-wrapper-3">Гость</div></a>
        <a href={{login_url}} class="overlap-2"><div class="text-wrapper-4">Авторизация</div></a>
        <div class="text-wrapper-5">ITCollaborate</div>
        <img class="pngwing" src="../../static/img/main_window_png_1.png" />
      </div>
    </div>
  </body>
</html>
