 
.screen {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.screen .div {
    background-color: #ffffff;
    width: 1440px;
    height: 1024px;
    position: relative;
}

.screen .overlap-group {
    position: absolute;
    width: 268px;
    height: 53px;
    top: 32px;
    left: 1152px;
    background-color: #999999;
    border: 1px solid;
    border-color: #000000;
}

.screen .text-wrapper {
    top: 10px;
    left: 95px;
    font-size: 24px;
    position: absolute;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
}

.screen .overlap {
    position: absolute;
    width: 1440px;
    height: 87px;
    top: 115px;
    left: 0;
    background-color: #d9d9d9;
}

.screen .div-wrapper {
    position: absolute;
    width: 720px;
    height: 87px;
    top: 0;
    left: 0;
    background-color: #d9d9d9;
    border-top-width: 3px;
    border-top-style: solid;
    border-right-width: 3px;
    border-right-style: solid;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-color: #000000;
}

.screen .text-wrapper-2 {
    top: 20px;
    left: 257px;
    font-size: 32px;
    position: absolute;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
}

.screen .overlap-2 {
    position: absolute;
    width: 720px;
    height: 87px;
    top: 0;
    left: 720px;
    background-color: #666666;
    border-top-width: 3px;
    border-top-style: solid;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-left-width: 3px;
    border-left-style: solid;
    border-color: #000000;
}

.screen .text-wrapper-3 {
    top: 20px;
    left: 235px;
    font-size: 32px;
    position: absolute;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
}

.screen .text-wrapper-4 {
    position: absolute;
    width: 642px;
    top: -2px;
    left: 398px;
    -webkit-text-stroke: 1px #0000004c;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #868686;
    font-size: 100px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.screen .overlap-3 {
    position: absolute;
    width: 284px;
    height: 63px;
    top: 264px;
    left: 1120px;
    background-color: #d9d9d9;
    border: 1px solid;
    border-color: #000000;
}

.screen .text-wrapper-5 {
    top: 10px;
    left: 84px;
    font-size: 24px;
    position: absolute;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
}

.screen .overlap-4 {
    position: absolute;
    width: 284px;
    height: 72px;
    top: 871px;
    left: 1120px;
}

.screen .rectangle {
    position: absolute;
    width: 284px;
    height: 54px;
    top: 0;
    left: 0;
    background-color: #d9d9d9;
    border: 1px solid;
    border-color: #000000;
}

.screen .text-wrapper-6 {
    top: 14px;
    left: 106px;
    font-size: 24px;
    position: absolute;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
}

.screen .overlap-5 {
    position: absolute;
    width: 938px;
    height: 205px;
    top: 522px;
    left: 62px;
    background-color: #d9d9d9;
    border: 1px solid;
    border-color: #000000;
}

.screen .text-wrapper-7 {
    top: 21px;
    left: 19px;
    font-size: 28px;
    position: absolute;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
}

.screen .overlap-6 {
    position: absolute;
    width: 938px;
    height: 63px;
    top: 264px;
    left: 62px;
    background-color: #d9d9d9;
    border: 1px solid;
    border-color: #000000;
}

.screen .text-wrapper-8 {
    top: 12px;
    left: 19px;
    font-size: 28px;
    position: absolute;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
}

.screen .overlap-7 {
    position: absolute;
    width: 938px;
    height: 63px;
    top: 436px;
    left: 62px;
    background-color: #d9d9d9;
    border: 1px solid;
    border-color: #000000;
}

.screen .text-wrapper-9 {
    top: 13px;
    left: 27px;
    font-size: 28px;
    position: absolute;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
}

.screen .overlap-8 {
    position: absolute;
    width: 938px;
    height: 63px;
    top: 350px;
    left: 62px;
    background-color: #d9d9d9;
    border: 1px solid;
    border-color: #000000;
}

.screen .text-wrapper-10 {
    top: 6px;
    left: 27px;
    font-size: 28px;
    position: absolute;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    letter-spacing: 0;
    line-height: normal;
}

.screen .error_message {
    top: 220px;
    left: 62px;
    font-size: 20px;
    position: absolute;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ff0000;
    letter-spacing: 0;
    line-height: normal;
}

textarea{
    width: 938px;
    resize: vertical;
    border-radius: 5px;
    margin-bottom: 30px;
    padding-bottom: 15px;
}