<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="../../static/user/add_knowledge_style.css" />
    </head>
    <body>
        <div class="screen">
            <div class="div">

                <form method="POST" id="exit_form" action="{{form_action_url}}" style="">
                    <button name="exit" id="exit" class="overlap-group"><div class="text-wrapper">Выйти</div></button>
                </form>

                <div class="overlap" style="">
                    <a href={{discussions_url}} class="div-wrapper"><div class="text-wrapper-2">Обсуждения</div></a>
                    <a href={{knowledge_url}} class="overlap-2" style="background-color: #666666"><div class="text-wrapper-3">Каталог знаний</div></a>
                </div>

                <div class="text-wrapper-4">ITCollaborate</div>

                <form method="POST" id="add_knowledge_form" action="{{form_action_url}}">
                    <button name="add_knowledge" id="add_knowledge" class="overlap-3"><div class="text-wrapper-5">Добавить</div></button>

                    {% if old_description %}
                        <textarea
                                name="knowledge_description" id="knowledge_description" rows="3"
                                placeholder="Заполните содержание знания..." style="min-height: 90px" required
                                class="overlap-5"
                        >{{old_description}}</textarea>
                    {% else %}
                        <textarea
                                name="knowledge_description" id="knowledge_description" rows="3"
                                placeholder="Заполните содержание знания..." style="min-height: 90px" required
                                class="overlap-5"
                        ></textarea>
                    {% endif %}

                    {% if old_title %}
                        <input
                                type="text" id="knowledge_title" name="knowledge_title" required
                                placeholder="Введите заголовок знания..." value="{{old_title}}" class="overlap-6"
                        />
                    {% else %}
                        <input
                                type="text" id="knowledge_title" name="knowledge_title" required
                                placeholder="Введите заголовок знания..." class="overlap-6"
                        />
                    {% endif %}

                    {% if old_link %}
                         <input
                                 type="text" id="knowledge_link" name="knowledge_link" required
                                 placeholder="Введите ссылку на источник знания..." value="{{old_link}}" class="overlap-7"
                         />
                    {% else %}
                        <input
                                type="text" id="knowledge_link" name="knowledge_link" required
                                placeholder="Введите ссылку на источник знания..." class="overlap-7"
                        />
                    {% endif %}

                    {% if old_category %}
                        <input
                                type="text" id="knowledge_category" name="knowledge_category" required
                                placeholder="Введите категорию знания..."  value="{{old_category}}" class="overlap-8"
                        />
                    {% else %}
                        <input
                                type="text" id="knowledge_category" name="knowledge_category" required
                                placeholder="Введите категорию знания..." class="overlap-8"
                        />
                    {% endif %}
                </form>

                {% if error_message %}
                    <div class="error_message">
                        {{error_message}}
                    </div>
                {% endif %}

            </div>
        </div>
    </body>
</html>
